@import '../../Layout/Styles/styles.scss';

.loginModal {
  background-color: white;
  padding: 30px;
  border: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;

  @media (max-width: $screen-xs-max) {
    left: 20px;
    top: 20%;
    right: 20px;
    transform: none;
    max-width: none;
  }

  .centerAlign {
    text-align: center;
  }

  .loginInputWrapper {
    .loginInput {
      margin: 15px 0px;
      width: 100%;
    }
  }
}

.darkModeLoginModal {
  color: $dark-text-color;
  background-color: $dark-surface;
}
