@import '/app/Layout/Styles/styles.scss';

.appContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;

  .bodyContainer {
    flex: 1 0 auto;
  }

  .bodyDarkMode {
    transition: background-color 1s ease;
    background-color: $dark-background;
  }

  @media (max-width: 767px) {
    .menuOpen {
      .menuSidebarActive {
        opacity: 1;
      }
    }

    .headerWrapper {
      background-color: $primary;
    }

    .menuSidebarActive {
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 980;
      transition: opacity 200ms ease-in-out;
      opacity: 0;
    }
  }
}
