@import '@Layout/Styles/styles.scss';

.hikeCard {
  margin: 60px 0 30px;
  border-radius: 7px;
  position: relative;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease-in-out;

  .heading {
    margin: 5px 20px;
  }

  .crosshairIcon {
    margin-top: 18px;
    font-size: 25px;
    cursor: pointer;
  }

  .map {
    height: 500px;
  }

  .statsWrapper {
    text-align: center;
    border-bottom: 1px solid #d7d7d7;

    & > div {
      padding: 20px 0;
    }
  }

  .detailsWrapper {
    margin: 20px;
  }

  .icon {
    margin-right: 15px;
  }
}

.hikeCard {
  &:hover,
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
  }
}

.darkModeHikeCard {
  background-color: $dark-surface;
  transition: background-color 1s ease;
  color: $dark-text-color;

  .statsWrapper {
    border: none;
  }
}
