@import '@Layout/Styles/styles.scss';

.uploadHike {
  .headingWrapper {
    height: 15vh;
    margin-bottom: 20px;
    text-align: center;

    .heading {
      font-size: 40px;
      padding-top: 10vh;
    }

    @media (max-width: $screen-xs-max) {
      height: 8vh;

      .heading {
        font-size: 18px;
        padding-top: 3vh;
      }
    }
  }
  .map {
    box-shadow: 0px -4px 10px 0 rgba(0, 0, 0, 0.33);
    height: 60vh;
  }

  .smallMap {
    margin: auto;
    height: 500px;
    width: 970px;

    @media (max-width: $screen-xs-max) {
      width: auto;
      height: 300px;
    }
  }

  .inputSectionWrapper {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.33);

    .inputSection {
      margin: 15px;
    }
  }

  .input {
    margin-bottom: 20px;
    width: 100%;
  }

  .note {
    color: $primary;
    margin-top: 20px;
    font-size: 20px;
  }

  .missingFileNote {
    margin-top: 10px;
    color: $primary;
  }

  .bottomMarginMobile {
    margin: 15px 0px 30px;
    @media (max-width: $screen-sm-max) {
      margin: 30px 0px 30px;
    }
  }

  .button {
    float: right;
    padding: 0.3em 1.2em;
    margin-top: 1vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    @media (max-width: $screen-sm-max) {
      margin-top: 0;
    }

    @media (max-width: $screen-xs-max) {
      margin: 30px 0px 30px;
    }
  }

  .fileUploadInput {
    display: none;
  }

  .fileUploadNote {
    margin-left: 20px;
  }
}

.preSubmitWrapper {
  padding: 20px 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.33);
  display: flex;
  justify-content: space-around;
  align-items: center;

  .uploadButton {
    float: right;
    margin: 0 15px;
  }

  @media (max-width: $screen-xs-max) {
    flex-direction: column;
    padding: 20px;

    button,
    .uploadButton {
      margin-top: 15px;
    }
  }
}

.darkModeUploadHike {
  color: $dark-text-color;
}
