@import '../../Layout/Styles/styles.scss';

.home {
  position: relative;

  .image {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 1) 95%
      ),
      url('../../../assets/images/headerImage.jpg');
    background-repeat: no-repeat;
    transition: background-image 1s ease;
    background-size: contain;
    height: 43vw;
  }

  .heading {
    font-family: 'AileronUltraLight', sans-serif;
    position: absolute;
    font-size: 80px;
    width: 100%;
    top: 11vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
      top: 8vw;
      font-size: 60px;
      width: 100%;
    }

    @media (max-width: $screen-xs-max) {
      top: 30vw;
      font-size: 40px;
      width: 100%;
    }
  }
}

.loadMoreButton {
  margin-bottom: 30px;
  text-align: center;

  button {
    overflow-anchor: none;
  }
}

.skeletonWrapper {
  margin-top: 60px;
  width: 100%;
  height: 250px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.33);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 95%
  );

  .skeletonHeadingWrapper {
    display: flex;
    .skeletonTitle {
      padding: 20px;
      flex: 10;
    }

    .skeletonIcon {
      margin: 20px;
      flex: 1;

      span {
        float: right;
      }
    }
  }

  .skeletonMap {
    margin-top: -77px;

    span {
      height: 300px;
    }
  }
}

.listBottomText {
  margin: 60px 30px 30px;
  text-align: center;
}

.skeletonWrapper:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
  box-shadow: 0 15px 10px 0 rgba(255, 255, 255, 1);
  width: 100%;
  height: 10em;
}

.darkModeHome {
  .image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(18, 18, 18) 95%),
      url('../../../assets/images/darkModeHeaderImage.jpg');
    transition: background-image 1s ease;
  }

  .heading {
    color: $dark-text-color;
    transition: color 1s ease;
  }

  .skeletonWrapper {
    background-color: $dark-surface;
    transition: background-color 1s ease;
  }
}
