@import '../../Layout/Styles/styles.scss';

.home {
  position: relative;

  .image {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 1) 95%
      ),
      url('../../../assets/images/headerImage.jpg');
    background-repeat: no-repeat;
    transition: background-image 1s ease;
    background-size: contain;
    height: 43vw;
  }

  .heading {
    font-family: 'AileronUltraLight', sans-serif;
    position: absolute;
    font-size: 80px;
    width: 100%;
    top: 11vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
      top: 8vw;
      font-size: 60px;
      width: 100%;
    }

    @media (max-width: $screen-xs-max) {
      top: 30vw;
      font-size: 40px;
      width: 100%;
    }
  }
}

.darkModeHome {
  .image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(18, 18, 18) 95%),
      url('../../../assets/images/darkModeHeaderImage.jpg');
    transition: background-image 1s ease;
  }

  .heading {
    color: $dark-text-color;
    transition: color 1s ease;
  }
}
